.custom-button {
  padding: 1.25em 1.375em;
  font-size: 1rem;
  line-height: 1.25em;
  border-radius: 12px;
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
}

.custom-button__basic {
  background-color: transparent;
}

.custom-button__primary {
  background-color: var(--color-primary);
}

.custom-button__secondary {
  background-color: var(--color-secondary);
}

.custom-button__info {
  background-color: var(--color--primary-accent);
}

.custom-button__flat {
  background-color: transparent;
  color: var(--color-text-accent);
  border: none;
}

.custom-button__flat:hover,
.custom-button:disabled {
  background-color: var(--color-bg-light-grey);
}
