.card-list__container {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-bg-secondary);
}
.card-list__wrapper {
  min-height: 100%;
  padding-bottom: 8.125rem;
  padding-left: 3rem;
  padding-top: 3.625rem;
  padding-right: 2rem;
}

.card-list__add-item__illustration {
  display: inline-block;
  display: block;
  position: absolute;
  top: 0px;
  left: 26px;
}

.card-list__add-item__illustration .icon {
  transform: scale(1.4);
}

.card-list__empty-message {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25em;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.card-list__list-info__list-name {
  font-size: 1.5rem;
  line-height: 1.25em;
  color: var(--color-text-accent);
  margin-bottom: 1.67em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.67em;
}
.card-list__list-info_mode-icon {
  cursor: pointer;
}
.card-list__list-info_mode-icon svg:hover {
  fill: var(--color-primary);
}

.card-list__add-item {
  width: 100%;
  background-color: var(--color-burgundy);
  border-radius: 24px;
  height: 8.125rem;
  position: relative;
  padding: 1.125rem 1.75rem 1.125rem 7.625rem;
}

.card-list__add-item__text {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25em;
  margin-bottom: 0.875em;
  color: var(--color-white);
}

.card-list__add-item__btn {
  cursor: pointer;
  background-color: var(--color-white);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;

  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.21em;

  color: var(--color-text-accent);
  padding: 0.85em 2.14em;
}

.card-list__list-info {
  height: 100%;
  width: 100%;
  margin-top: 2.75rem;
}

.card-list__list-info h3 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21em;
  padding-bottom: 1.57em;
  color: var(--color-text-secondary);
}

.card-list__category__container:not(:last-child) {
  margin-bottom: 52px;
}

.card-list__category__item:not(:last-child) {
  margin-bottom: 16px;
}

.card-list__input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-list__category__item__label {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.22em;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
}

.card-list__category__item__label input[type='checkbox'] {
  margin-right: 15px;
}

.item-input__input {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: 2px solid #f9a109;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 0.83em 1.67em;
  margin: 0 0.66em;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.25em;

  color: var(--color-primary-light);
}

.item-input__button {
  padding: 8px;
  display: flex;
  background-color: var(--color-white);
  border-radius: 12px;
  align-items: center;
}

.item-input__button__minus,
.item-input__button__plus {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 4px;
}

.item-input__button__plus::after,
.item-input__button__plus::before,
.item-input__button__minus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 8px);
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-primary);
  cursor: pointer;
}

.item-input__button__plus::after {
  left: 25%;
  transform: rotate(90deg) translate(-0%, 100%);
}

.item-input__button--hide-btn {
  background-color: transparent;
}

.item-input__button--hide-btn .item-input__button__delete,
.item-input__button--hide-btn .item-input__button__plus,
.item-input__button--hide-btn .item-input__button__minus {
  display: none;
}

.item-input__button__delete {
  cursor: pointer;
  padding: 10px 8px;
  background: var(--color-primary);
  border-radius: 12px;
  margin-right: 1rem;
}

.item-input__button__delete svg {
  fill: var(--color-white);
}

.card-list__illustration {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.card-list__controls {
  width: 100%;
  height: 130px;
  position: sticky;
  top: calc(100vh - 130px);
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
}

.card-list__empty-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-list__control__input-name {
  border: 1px solid;
  display: flex;
  width: 310px;
  align-items: center;
  height: 62px;
  border: 2px solid var(--color-bg-light-grey);
  box-sizing: border-box;
  border-radius: 12px;
}

.card-list__control__input-name--active {
  border: 2px solid var(--color-primary);
}

.card-list__control__input-name input {
  width: 100%;
  padding: 22px 18px;
  outline: none;
}
