:root {
  --color-primary: #f9a109;
  --color-primary-light: #f9a10a;
  --color--primary-accent: #56ccf2;
  --color-extra-light: #c1c1c4;
  --color--danger: #eb5757;
  --color-text-primary: #000000;
  --color-text-accent: #34333a;
  --color-text-secondary: #828282;

  --color-text-light: #bdbdbd;
  --color-bg--primary: #fafafe;
  --color-bg-secondary: #fff0de;
  --color-bg-accent: #fff0de;
  --color-bg-light-grey: #e0e0e0;
  --color-bg-light-grey2: #e0e0e0;
  --color-white: #ffffff;
  --color-burgundy: #80485b;
  --color-dark-grey: #454545;

  --left-side-desktop-size: 99px;
  --left-side-mobile-size: 63px;
  --right-side-desktop-size: 400px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: var(--color-text-primary);
}

body {
  background-color: var(--color-bg--primary);
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
}

.App {
  min-width: 375px;
  height: 100%;
  border: 1px solid red;
}

h2 {
  font-weight: bold;
  font-size: 1.625rem;
  font-style: normal;
  line-height: 1.23em;
  color: var(--color-text-accent);
}

select,
input,
textarea {
  background-color: transparent;
  border: none;
  display: block;
}
