.item-details__wrapper {
  width: 100%;
  background-color: var(--color-white);
  height: 100%;
}
.item-details__container {
  margin: 0px auto;
  max-width: 300px;
  padding-top: 28px;
}
.item-details__container .back-button {
  margin-bottom: 34px;
}

.item-details__illustration {
  margin-bottom: 54px;
  display: block;
  border-radius: 25px;
}

.item-details__illustration img {
  width: 100%;
  display: block;
  border-radius: inherit;
}
.item-details__text-field:not(:last-child) {
  margin-bottom: 34px;
}

.item-details__text-field:first-child .item-details__text-field__value {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25em;
}
.item-details__text-field__label {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25em;
  margin-bottom: 1em;
  color: var(--color-extra-light);
}

.item-details__text-field__value {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.22em;

  color: var(--color-text-primary);
}
