.item-details__wrapper {
  width: 100%;
  background-color: var(--color-white);
  height: 100%;
}
.item-details__container {
  margin: 0px auto;
  max-width: 300px;
  padding-top: 28px;
}
.item-details__container .back-button {
  margin-bottom: 34px;
}

.item-details__illustration {
  margin-bottom: 54px;
  display: block;
  border-radius: 25px;
}

.item-details__illustration img {
  width: 100%;
  display: block;
  border-radius: inherit;
}
.item-details__text-field:not(:last-child) {
  margin-bottom: 34px;
}

.item-details__text-field:first-child .item-details__text-field__value {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.item-details__text-field__label {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 12px;
  color: var(--color-text-extra-light);
}

.item-details__text-field__value {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: var(--color-text-primary);
}
