.category-items__container {
  padding: 0px 0.75rem 1.69rem;
  margin: 0 auto;
  max-width: 26.75rem;
  min-width: 20rem;
}

.category-items__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: var(--color-text-primary);
  padding-bottom: 1em;
}

.category-items__list {
  display: flex;
  flex-wrap: wrap;
}

.category-items__list-item {
  position: relative;
  max-width: 182px;
  min-width: 140px;
  width: 48%;
}

.category-items__list-item:not(:last-child) {
  margin-bottom: 24px;
}

.category-items__btn {
  cursor: pointer;
  text-align: left;
  background-color: var(--color-white);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  border-radius: 12px;
  padding: 1rem 1rem 1.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-items__btn::after {
  content: '+';
  font-size: 0.875rem;
  color: var(--color-extra-light);
  position: absolute;
  top: 1.36em;
  right: 1.21em;
}

.category-items__label {
  display: inline-block;
  min-width: 4.375rem;
  width: 60%;
  max-width: 8.125rem;
}

.category-items__quantity {
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1.25em;
  color: var(--color-primary-light);
}

.category-items__list-item {
  margin-right: 3%;
}

@media screen and (max-width: 715px) {
  .category-items__list-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1350px),
  screen and (min-width: 716px) and (max-width: 932px) {
  .category-items__container {
    max-width: 624px;
  }

  .category-items__list-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 932px) and (max-width: 1199px),
  screen and (min-width: 1350px) {
  .category-items__container {
    max-width: 824px;
  }

  .category-items__list-item:nth-child(4n) {
    margin-right: 0;
  }
}
