.side-navbar__container {
  background-color: var(--color-white);
  padding: 19px 10px 34px;
  min-height: 500px;
  width: 100%;
  height: 100%;
}

.side-navbar__logo {
  width: 42px;
  display: block;
  margin: 0 auto;
}

.side-navbar__nav {
  height: 100%;
}

.side-navbar__nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.side-navbar__nav-item {
  padding-bottom: 68px;
}

.side-navbar__nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.side-navbar__nav-item:first-child {
  margin-bottom: auto;
  padding-bottom: 0;
}

.side-navbar__nav-item:last-child {
  margin-top: auto;
  padding-bottom: 0;
}

.side-navbar__nav-item .icon {
  display: block;
  max-width: 20px;
  fill: var(--color-dark-grey);
}

.side-navbar__btn-shopping-card {
  display: block;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  position: relative;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.side-navbar__in-card-number {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  padding: 0.33em;
  min-width: 1.67em;
  font-size: 0.75rem;
  display: inline-block;
  color: var(--color-white);
  transform: translate(30%, -30%);
}

.side-navbar__in-card-number:before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 0px;
  display: block;
  padding-bottom: 100%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: var(--color--danger);
  border-radius: 4px;
}
