.date-field {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25em;
  display: flex;
  align-items: center;
  color: var(--color-extra-light);
}

.date-field .icon {
  fill: var(--color-extra-light);
  width: 1.125rem;
  height: 1.25rem;
  margin-right: 0.875rem;
}
